:root{
    --white-bg: #f2f2f2;
    --darker-bg: #000000;
    --black-text: #0c0c0c;
    --white-text: #ffffff;
    --bright-text: #ba7b2b;
    --light-gray: #eee;
    --gap: 1.5rem;
}

*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-size: 2rem;
    line-height: 1.5;
}

h1, h2{
    font-family: 'Montserrat', sans-serif;
}

p{
    font-family: 'Asap Condensed', sans-serif;
}

h2{
    font-size: 1.74rem;
}

.white-bg{
    background: var(--white-bg);
    color: var(--black-text);
    max-width: 100%;
}

.main-bg{
    background-image: url("../img/main-bg.svg");
    color: var(--white-text);
    max-width: 100%;
}

.darker-bg{
    background: var(--darker-bg);
}


                        /*--------- Menu section ----------*/
.main-content{
    max-width: 120rem;
    margin: 0 auto;
    padding: 10rem var(--gap);
}

.section{
    min-height: 100vh;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom: 0.1rem solid var(--light-grey);
    z-index: 1;
}

.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
  }

.instagram-menu-opt img{
    display: block;
    margin: 0 auto;
}

ul{
    margin: 0;
}

li{
    display: inline-block;
    margin-left: 1rem;
}
  
a{
    color:var(--white-text);
    text-decoration: none;
}

a:hover{
    color: var(--bright-text);
}


                        /*--------- Home section ----------*/
.espaco{
    display: none;
}

.home-home{
    display: flex;
    justify-content: space-between;
    max-width: 100%;
}

.home-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.home-text, .img-home{
    flex: 1;
    max-width: 50%;
    padding: 2rem;
    box-sizing: border-box;
    color: var(--white-text);
}

.img-home img{
    max-width: 100%;
    height: auto;
}

.home-title{
    font-size: 5.5rem;
}

.home-description{
    font-size: 1.5rem;
}

.logo-barbershop{
    cursor: pointer;
}

                        /*--------- Gallery section ----------*/
.title-gallery{
    display: block;
    max-width: 100%;
}

.container-title-gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 120rem;
    text-align: center;
}

.gallery-content{
    display: flex;
    max-width: 120rem;
    margin: 0 auto;
    flex-flow: column wrap;
    flex-direction: column;
    justify-content: center;
}

.gallery-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    border-bottom: 0.1rem solid var(--bright-text);
}

.gallery-title{
    font-size: 3rem;
    margin-bottom: 1rem;
}

.gallery-subtext{
    padding-bottom: 1rem;
}

.gallery-pack-img{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    counter-reset: grid-counter;
}

.gallery-img{
    width: 100%;
    height: auto;
    max-width: 26rem;
    max-height: 26rem;
    overflow: hidden;
  }

.gallery-img img{
    transition: all 300ms ease-in-out;
}
.gallery-img img:hover{
    transform: translate(3%, 3%) scale(1.2);
}

.fullscreen-img{
    cursor: pointer;
}

                        /*--------- Info section ----------*/

.schedule-head{
    position: flex;
    justify-content: space-between;
}

.info-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.horario-atendimento, .redes-sociais, .info-contato{
    flex: 1;
    max-width: 50%;
    padding: 2rem;
    box-sizing: border-box;
}

.table-content{
    border-collapse: collapse;
    table-layout: fixed;
    background: var(--light-gray);
    color: var(--black-text);
}

.table-content-title th {
    background-color: var(--primary-color);
    color: var(--black-text);
    padding: 1rem;
    text-align: center;
}

.table-content th:first-child,
.table-content td:first-child {
    width: 40%;
}

.table-content th:last-child,
.table-content td:last-child {
    width: 40%;
}

th, td {
    font-family: 'Open Sans', sans-serif;
    padding-right: 2rem;
    text-align: center;
    border-bottom: 0.01rem solid #ddd;
}

th{
    font-size: 2rem;
}

td{
    font-size: 1rem;
}

.table-title{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.redes-sociais{
    display: flex;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.info-contato{
    display: flex;
    padding: 1rem;
    align-items: center;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
}

.info-contato p,
.info-contato button {
    display: block;
    margin: 0.5rem 0;
}

.our-instagram{
    font-size: 3rem;
}

/*Logo instagram*/
.div-instagram {
    width: 4rem;
    height: 4rem;
    color: #fff;
    background: radial-gradient(
        circle at 33% 100%,
        #fed373 4%,
        #f15245 30%,
        #d92e7f 62%,
        #515ecf
    );
    border-radius: 30%;
    position: relative;
}

.div-instagram:before{
    content: " ";
    border: 0.2rem solid;
    border-radius: 30%;
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    inset: 0;
    margin: auto;
}

.div-instagram:after{
    content: " ";
    border: 0.2rem solid;
    border-radius: 100%;
    width: 1rem;
    height: 1rem;
    position: absolute;
    inset: 0;
    margin: auto;
}

span {
    border: 0.2rem solid;
    border-radius: 100%;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.div-instagram:hover{
    cursor: pointer;
    transform: translate(3%, 3%) scale(1.2);
}

/*button*/
button {
    background-color: #4CAF50; 
    width: 40%;
    border: none;
    color: white;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.8rem;
    margin: 0 auto;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 10%;
  }
  
  button {
    background-color: white; 
    color: black; 
    border: 0.2rem solid var(--bright-text);
  }
  
  button:hover {
    background-color: var(--bright-text);
    color: white;
  }

@media(max-width: 1500px){
    .home-title{
        font-size: 2.5rem;
    }
}

@media(max-width: 800px){
    .home-content{
        display: contents;
    }

    .home-text{
        max-width: 100%;
    }

    .img-home{
        display: none;
    }

    .gallery-pack-img{
        grid-template-columns: repeat(2, 1fr);
    }
    
    .gallery-img:nth-last-child(-n+3) {
        display: none;
    }

    .horario-atendimento{
        max-width: 100%;
        justify-content: center;
    }

    .redes-sociais{
        display: none;
    }

    .info-contato{
        display: none;
    }

    .home-menu-opt, .gallery-menu-opt,
    .schedule-menu-opt{
        display: none;
    }

    th{
        font-size: 1.7rem;
    }
    
    td{
        font-size: 0.7rem;
    }

    .title-gallery{
        max-width: 120rem;
    }

    .gallery-content{
        width: 100%;
    }

    .gallery-head {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
    .gallery-head{
        height: 100vh;
    }

    .gallery-pack-img {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
    }

    .gallery-img{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .gallery-img img {  
        max-width: 14rem;
    }

    .info-container{
        max-width: 120rem;
        margin: 0 auto;
        padding: 10rem var(--gap);
    }
    
    a{
        font-size: 1.5rem;
    }

    .gallery-img img:hover{
        transform: none;
    }
}